<%= javascript_pack_tag 'db_tree_views' %>
<%= stylesheet_link_tag 'db_tree_views' %>


<div class="container">
  <div class="tree-wrapper">
    <div class="tree-wrapper-header">
      <h3>DBTreeView</h3>
    </div>
    <div id='db-tree' data-nodes-url="<%= db_tree_views_url %>"></div>
  </div>

  <div class="tree-wrapper">
    <div class="tree-wrapper-header">
      <h3>CachedTreeView</h3>
    </div>
    <div id='cache-tree'></div>
  </div>
</div>